.contain .header {
  background-color: #000000;
  width: 100%;
}

.contain .header .menu {
  font-size: 1.2vw;
  position: absolute;
  top: 1.5%;
  left: 1%;
}

.contain .header .menu .logo {
  display: inline-block;
  vertical-align: middle;
}

.contain .header .menu .logo-text {
  display: inline-block;
  vertical-align: middle;
}

.contain .header .menu a {
  text-decoration: none;
  outline: 0;
  color: rgba(255, 255, 255, 0.4);
}

.contain .header .menu a:hover {
  text-decoration: none;
  outline: 0;
  color: white;
}

.contain .main .letttgaco {
  width: 100%;
}

.contain .footer {
  background-color: #000000;
  position: fixed;
  width: 100%;
}

.contain .footer .copyright {
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 1%;
}

.contain .footer .copyright a {
  text-decoration: none;
  outline: 0;
  color: rgba(255, 255, 255, 0.4);
}

.contain .footer .copyright a:hover {
  text-decoration: none;
  outline: 0;
  color: white;
}
